# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Git
.git
.gitignore

# VS Code
.vscode/

# Docker
.dockerignore

# Local env files
.env

.md

# Dockerfile 
Dockerfile

