fastapi>=0.95.0
uvicorn>=0.21.1
sqlmodel>=0.0.8
psycopg2-binary>=2.9.6
python-jose[cryptography]>=3.3.0
passlib[bcrypt]>=1.7.4
argon2-cffi>=21.3.0
python-multipart>=0.0.6
pydantic[email]>=1.10.7
python-dotenv>=1.0.0
pydantic-settings>=2.0.3
bcrypt>=4.0.1
alembic>=1.11.1
redis>=4.6.0
hiredis>=2.0.0
sqlalchemy_utils