fastapi==0.135.0
uvicorn[standard]==0.40.0
pymongo
python-jose[cryptography]==3.3.0
python-dotenv==1.2.0
pydantic-settings==2.13.0
bcrypt==5.0.0
redis==7.4.0
hiredis>=3.4.1
httpx==0.28.0
loguru==0.7.3
passlib==1.7.4
pydantic==2.12.5
argon2_cffi==23.1.0
pydantic[email]

minio==7.2.15
python-multipart==0.0.20
aiokafka==0.12.0
